<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
    <title>{% block title %} {% endblock %}</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- chargebee -->
    <script src="https://js.chargebee.com/v2/chargebee.js"></script>
    <!-- internal -->
    <script src="{% static 'pricing/checkout.js' %}"></script>
  </head>
<body>
  <div class="container my-5">
    <div class="d-flex justify-content-between flex-row">
      <h1>
        <a style="text-decoration:none; " class="text-dark" href="{% url 'pricing:plans' %}">Honey Comics</a>
      </h1>
      <div>
        {% if user.is_authenticated %}
        <div class="d-flex column-gap-4 flex-row">
          <h4>Hi {{ user.username }}</h4>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="btn btn-dark" type="submit">logout</button>
          </form>
        </div>
        {% else %}
        <a class="btn btn-dark" href="{% url 'login' %}">Log In</a>
        <a class="btn btn-dark" href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
      </div>
    </div>
    {% block content %}{% endblock %}
  </div>
</body>
</html>